In [305]:
import re
import pandas
sample =  'Python Exercises, PHP exercises.'

#Replace all occurrences of a space, comma, or dot with a colon.

result =re.sub(r'[ ,/.]',':',sample)
result

'Python:Exercises::PHP:exercises:'

In [49]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

# Create DataFrame
df = pd.DataFrame(data)

# Remove everything except words and spaces from the 'SUMMARY' column
df['SUMMARY'] = df['SUMMARY'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.replace('XXXX', '').str.strip()

print(df)

         SUMMARY
0    hello world
1         X test
2  four five six

In [55]:
def find_long_word(text):
    pattern = re.compile(r'\b\w{4}\b')
    return pattern.findall(text)

text = 'my computer is fastest computer ever this test word like your'
result = find_long_word(text)
result

['ever', 'this', 'test', 'word', 'like', 'your']

In [69]:
def find_length(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)

text = 'what is your name my name is berline i lived in delhi thats goods how are you'
res = find_length(text)
res

['what',
 'your',
 'name',
 'name',
 'lived',
 'delhi',
 'thats',
 'goods',
 'how',
 'are',
 'you']

In [307]:
def remove_parentheses(text_list):
    # Compile regex pattern to match parentheses and their contents
    pattern = re.compile(r'\s*\((.*?)\)')
    
    # Process each string in the list
    cleaned_list = []
    for text in text_list:
        # Find all matches inside parentheses
        matches = pattern.findall(text)
        # Remove parentheses and their contents
        cleaned_text = pattern.sub('', text)
        # Concatenate all matches found inside parentheses to the cleaned text
        if matches:
            cleaned_text += ' ' + ' '.join(matches)
        cleaned_list.append(cleaned_text.strip())
    
    return cleaned_list

# Sample text
sample_text = [
    "example (.com)", 
    "hr@fliprobo (.com)", 
    "github (.com)", 
    "Hello (Data Science World)", 
    "Data (Scientist)"
]

# Apply the function
result = remove_parentheses(sample_text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [309]:
def remove_parentheses(file_path):
    # Compile the regex pattern to match parentheses and their contents
    pattern = re.compile(r'\s*\(.*?\)')
    
    # Read the content from the file
    with open(file_path, 'r') as file:
        lines = file.readlines()
    
    # Process each line to remove parentheses and their contents
    cleaned_lines = [pattern.sub('', line).strip() for line in lines]
    
    # Write the cleaned content back to the file or return the result
    with open(file_path, 'w') as file:
        file.write('\n'.join(cleaned_lines))
    
    return cleaned_lines

# File path to the sample text file
file_path = 'sample.txt'

# Apply the function and print the result
result = remove_parentheses_from_file(file_path)
print(result)

['On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.']

In [117]:
text = "ImportanceOfRegularExpressionsInPython"

# Regular expression to split at each uppercase letter (except the first one)
result = re.split(r'(?=[A-Z])', text)

print(result)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [119]:
def insert_spaces(text):
    return re.sub(r'(\d)', r' \1', text)

text = "RegularExpression1IsAn2ImportantTopic3InPython"

# Inserting spaces
output = insert_spaces(text)

print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [121]:
def insert_spaces(text):
    return re.sub(r'(?<=[a-z])(?=[A-Z0-9])', ' ', text)
text = "RegularExpression1IsAn2ImportantTopic3InPython"

# Inserting spaces
output = insert_spaces(text)

print(output)

Regular Expression 1Is An 2Important Topic 3In Python

In [185]:
data = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [187]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [189]:
# Create the DataFrame
df = pd.DataFrame(data)

# Create a new DataFrame with only the 'Country' column
df_country_only = df[['Country']]

# Display the DataFrame with only the 'Country' column
print(df_country_only)

         Country
0    Switzerland
1        Iceland
2        Denmark
3         Norway
4         Canada
..           ...
153       Rwanda
154        Benin
155        Syria
156      Burundi
157         Togo

[158 rows x 1 columns]

In [191]:
# Extract the first 6 letters of each country and add to a new column
df_country_only['first_six_letters'] = df_country_only['Country'].str[:6]

# Display the DataFrame with the new column
print(df_country_only)

         Country first_six_letters
0    Switzerland            Switze
1        Iceland            Icelan
2        Denmark            Denmar
3         Norway            Norway
4         Canada            Canada
..           ...               ...
153       Rwanda            Rwanda
154        Benin             Benin
155        Syria             Syria
156      Burundi            Burund
157         Togo              Togo

[158 rows x 2 columns]

C:\Users\sha\AppData\Local\Temp\ipykernel_15924\3849086628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_only['first_six_letters'] = df_country_only['Country'].str[:6]

In [193]:
test_string = "ValidString_123"  # Replace with any string you want to test

# Regular expression pattern
pattern = r'[A-Za-z0-9_]+'

# Check if the string matches the pattern
if re.fullmatch(pattern, test_string):
    print(f'"{test_string}" is valid.')
else:
    print(f'"{test_string}" is invalid.')

"ValidString_123" is valid.

In [195]:
specific_number = '123'  # Change this to the number you want to check for

# Test string
test_string = "123abc"  # Replace this with the string you want to test

# Regular expression pattern to check if the string starts with the specific number
pattern = rf'^{specific_number}'

# Check if the string starts with the specific number
if re.match(pattern, test_string):
    print(f'"{test_string}" starts with {specific_number}.')
else:
    print(f'"{test_string}" does not start with {specific_number}.')

"123abc" starts with 123.

In [197]:
# Define the IP address
ip_address = "192.168.001.001" 

pattern = r'\b0+(\d+)'

# Remove leading zeros
cleaned_ip = re.sub(pattern, r'\1', ip_address)

# Print the result
print(f"Original IP: {ip_address}")
print(f"Cleaned IP: {cleaned_ip}")

Original IP: 192.168.001.001
Cleaned IP: 192.168.1.1

In [219]:
# Write sample text to a file
with open('sample.txt', 'w') as file:
    file.write("On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.")
with open('sample.txt', 'r') as file:
    text = file.read()


date = re.search(r'\w+ \d+\w* \d{4}', text)

# Print the matched date
if date:
    print(date.group())

August 15th 1947

In [226]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = r'fox|dog|horse'
s = re.findall(pattern,text)
s

['fox', 'dog']

In [232]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = r'fox'
s = re.search(pattern,text)
s

In [236]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
subst = re.findall(pattern, text)

# Print the result
print(subst)

['exercises', 'exercises', 'exercises']

In [265]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
matches = re.finditer(pattern, text)

# Print each match's occurrence and position
for match in matches:
    print(f"Found '{match.group()}' at position {match.start()} to {match.end()}")

Found 'exercises' at position 7 to 16
Found 'exercises' at position 22 to 31
Found 'exercises' at position 36 to 45

In [267]:
# Sample date in yyyy-mm-dd format
date = '2024-08-22'

# Convert to dd-mm-yyyy format
converted_date = date.split('-')[2] + '-' + date.split('-')[1] + '-' + date.split('-')[0]

# Print the result
print(converted_date)

22-08-2024

In [269]:
def find_decimals(text):
    
    pattern = re.compile(r'\b\d*\.\d{1,2}\b')
    
    
    return pattern.findall(text)

# Sample text
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

# Find and print all decimal numbers with precision of 1 or 2
print(find_decimals(text))

['01.12', '145.8', '3.01', '27.25', '0.25']

In [271]:
def find_numbers_with_positions(text):
    # Define the regex pattern for matching numbers
    pattern = re.compile(r'\d+\.?\d*')
    
    # Use re.finditer to find all matches
    for match in pattern.finditer(text):
        number = match.group()
        start_pos = match.start()
        end_pos = match.end()
        print(f"Number: {number}, Position: {start_pos}-{end_pos}")

# Sample text
text = "The price is 100 dollars and the discount is 23.50 off, total 123.45."

# Find and print all numbers with their positions
find_numbers_with_positions(text)

Number: 100, Position: 13-16
Number: 23.50, Position: 45-50
Number: 123.45, Position: 62-68

In [273]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

# Find all numeric values
numbers = re.findall(r'\d+', text)

In [275]:
# Convert to integers and find the maximum
max_value = max(int(num) for num in numbers)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 950

In [277]:
text = "RegularExpressionIsAnImportantTopicInPython"

# Insert spaces before each capital letter (except the first one)
result = re.sub(r'(?<!^)(?=[A-Z])', ' ', text)

# Print the result
print(result)

Regular Expression Is An Important Topic In Python

In [281]:
text = "My Name Is Khan what is Your name."
pattern = r'\b[A-Z][a-z]*\b'
matches = re.findall(pattern, text)

print(matches)

['My', 'Name', 'Is', 'Khan', 'Your']

In [289]:
text = "Hello hello world world"
pattern = r'\b(\w+)\s+\1\b'
result = re.sub(pattern, r'\1', text, flags=re.IGNORECASE)

# Print the result
print(result)

Hello world

In [291]:
text = "dhjdfhfjdsh12333"

# Check if the text ends with an alphanumeric character
result = bool(re.search(r'[a-zA-Z0-9]$', text))

# Print the result
print(result)

True

In [293]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

# Define the regex pattern to match hashtags
pattern = r'#\w+'

# Find all hashtags using re.findall
hashtags = re.findall(pattern, text)

# Print the result
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [295]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

# Define the regex pattern to match <U+..> symbols
pattern = r'<U\+[0-9A-Fa-f]{4}>'

# Remove the <U+..> symbols
cleaned_text = re.sub(pattern, '', text)

# Print the result
print(cleaned_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [297]:
# Write sample text to a file
with open('code.txt', 'w') as file:
    file.write('Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.')

In [299]:
with open('code.txt', 'r') as file:
    text = file.read()

pattern = r'\b\d{2}-\d{2}-\d{4}\b'

dates = re.findall(pattern, text)

# Print the extracted dates
print(dates)

['12-09-1992', '15-12-1999']

In [301]:
def remove_short_words(text):
    
    pattern = re.compile(r'\b\w{2,4}\b')

    result = pattern.sub('', text)
    
  
    result = re.sub(r'\s+', ' ', result).strip()
    
    return result

# Sample text
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

# Call the function and print the result
print(remove_short_words(text))

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.